<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Garrett's Sobie Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">

</head>
<body>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Garrett's Sobie Profile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link" href="https://github.com/gbouldin43" target="_blank">GitHub Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/gbouldin43/gbouldin43" target="_blank">Source Code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://validator.nu/?doc=https%3A%2F%2Fgbouldin43.github.io%2Fgbouldin43%2F" target="_blank">Nu Validator</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<main>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Garrett's Web Profile</h1>
      <p>Hello and welcome to my online developer profile! My name is Garrett Bouldin and I am currently a student at the University of North Alabama. I am a senior, so I am currently taking the last classes that I need in order to graduate. I have really enjoyed my time at the university, but I am definitely ready to venture into the work field. I am looking to find an IT job when I get out of school. I have coding skills as well though with programming languages such as Python, C++, and HTML, so I would not mind finding a coding job either. This website is personalized to contain important information about me, so feel free to browse and see what you can find out. If you are specifically looking for more personal information, check out the personal profile card I have created below!
    </div>
  </div>


  <div class="container">

    <hr>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card mx-auto mb-4 w-100">
          <img class="card-img-top" src="images/profilepic.jpg" alt="Garrett Bouldin Headshot">
          <div class="card-body">
            <h4 class="card-title">Garrett Bouldin</h4>
            <p class="card-text">I am a senior pursuing a degree in Computer Information Systems at the University of North Alabama. I am currently taking courses in web development, IT infrastructure, and business management. I have begun to upload projects that I have done to GitHub this semester. If you would like to learn more about me and see my work, click the button below to do so.</p>
            <a href="https://github.com/gbouldin43" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> See Profile</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card mx-auto mb-4 w-100">
          <img class="card-img-top" src="images/mario.png" alt="Mario Coin Catcher App">
          <div class="card-body">
            <h4 class="card-title">Mario Coin Catcher</h4>
            <p class="card-text">This app is meant to be a fun and relaxing game that you can play when bored. It is a very simple game in which you drag Mario across the playing area to catch coins. Each time you catch a coin, your score increases, and you can reset your score at any time using the button at the bottom of the webpage.</p>
            <a href="https://github.com/gbouldin43/vigilant-giggle-david" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> Source Code</a>
            <a href="https://gbouldin43.github.io/vigilant-giggle-david/" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> Working App</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mx-auto mb-4 w-100">
          <img class="card-img-top" src="images/spiritanimal.png" alt="Spirit Animal App">
          <div class="card-body">
            <h4 class="card-title">Spirit Animal</h4>
            <p class="card-text">This app was built to help me learn how to use javascript with my HTML knowledge. It is also a very simple app like the Mario game. All the app requires you to do is enter your name and then click the button to find out what your spirit animal is. You can repeat this process as many times as you would like to.</p>
            <a href="https://github.com/gbouldin43/legendary-winner-charlie" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> Source Code</a>
            <a href="https://gbouldin43.github.io/legendary-winner-charlie/" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> Working App</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

  </div>

  <div class="container">
    <h2>Helpful Dev Resources I Use</h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-action"><a href="https://www.w3schools.com/" target="_blank">W3 Schools</a></li>
      <li class="list-group-item list-group-item-action"><a href="https://github.com/barrycumbie" target="_blank">Dr. Cumbie's GitHub</a></li>
      <li class="list-group-item list-group-item-action"><a href="https://codepen.io/barrycumbie" target="_blank">Dr. Cumbie's CodePen</a></li>
      <li class="list-group-item list-group-item-action"><a href="https://www.codecademy.com/learn" target="_blank">CodeAcademy</a></li>
    </ul>

    <br>
    <hr>
</div>

<div class="container">

    <h2>Let me know your favorite movie and actor/actress in it!</h2>
    <p>In the box on the left, input your favorite movie, and in the box on the right, input your favorite actor/actress. Feel free to add, edit, or delete as many as you want, but please don't delete someone else's post!</p>
    <form method="POST" action="insert/">
        <input name="title">
        <input name="post">
        <button class="btn btn-primary" role="submit">new post</button>
      </form>

      
    <% profileData.forEach(result=> { %>
        <div class="col-md-8">
        
  
      <form method="POST" action="update/">
        <input name="updateTitle" value="<%= result.title %>">
        <input name="updatePost" value="<%= result.post %>"> 
        <input type="hidden" name="updateId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-pencil"></i></button>
      </form>
      
  
  
      <form method="POST" action="delete/">
        <input type="hidden" name="deleteId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-trash3"></i></button>
      </form>
  
  
    </div>
      <% }); %>
</div>

</main>



    
<footer class="footer text-center mt-4">
  <p>&copy; Garrett Bouldin 2024</p>
</footer>
  
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
    <script  src="scripts/script.js"></script>
  
  </body>
  </html>